/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
/* 
|--------------------------------------------|
|                   BODY                     |
|--------------------------------------------|
*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", sans-serif;
}
@media (width > 900px) {
  /* 
|--------------------------------------------|
|                   NAVBAR                   |
|--------------------------------------------|
*/
  nav {
    margin-top: 5.5vw;
    display: flex;
    width: 100%;
    height: 10vh;
    top: 0;
    position: sticky;
  }
  .navbar-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50vw;
    border-bottom: 1px solid rgba(20, 23, 26, 0.044);
  }
  .navbar-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
  }
  .navbar-title > p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    text-decoration: solid;
    text-decoration-thickness: 50px;
    color: #6959a6;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
  }
  .navbar-menu-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1vw;
  }
  .navbar-menu-item > p {
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #14171aab;
  }
  .navbar-menu-item > i {
    font-size: 2.2vw;
    color: #14171aab;
  }
  /* 
|--------------------------------------------|
|                 HEADER                     |
|--------------------------------------------|
*/
  header {
    height: 80vh;
    display: flex;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
      ),
      url(/public/assets/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 48%;
    align-items: center;
    justify-content: center;
    filter: hue-rotate(15deg);
  }
  .header-container {
    margin: 0;
    padding: 0;
    width: 40vw;
    font-size: 3vw;
    margin-top: 10vw;
  }
  .header-title {
    display: flex;
    flex-direction: column;
  }
  h1 {
    height: 6vw;
  }
  .header-title > h1,
  h2 {
    margin: 0;
  }
  /* HI! */
  .header-title:nth-of-type(1) > h1:nth-of-type(1) {
    opacity: 0.5;
    font-size: 5vw;
  }
  /* I AM ZE & BARBER*/
  .header-title:nth-of-type(2) > h1:nth-of-type(1),
  .header-title:nth-of-type(3) > h1:nth-of-type(1) {
    opacity: 0.7;
    font-size: 5vw;
  }
  /* BARBER */
  .header-title:nth-of-type(3) > h1:nth-of-type(1) {
    margin-bottom: 1vw;
  }
  /* FRONTEND WEB DESIGNER */
  .header-title > h2 {
    font-size: 1vw;
    font-weight: normal;
    letter-spacing: 0.5vw;
    font-family: "Noto Sans JP", sans-serif;
    margin-bottom: 2vw;
    color: #14171a;
    opacity: 0.5;
  }
  .header-btn {
    display: flex;
    height: 4.5vh;
    width: 8vw;
    background-color: #6959a6;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    filter: hue-rotate(-15deg);
  }
  .header-btn > p > a {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-family: "Noto Sans JP", sans-serif;
  }
  /* 
|--------------------------------------------|
|                CONTENT                     |
|--------------------------------------------|
*/
  /* SECTION 1 */
  .section1 {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
  }
  .section1-container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .section1-img {
    margin: 0;
  }
  .section1-img > img {
    width: 25vw;
  }
  .section1-whoami {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section1-whoami > p:nth-of-type(1) {
    color: #727272;
    margin: 0;
    font-size: 1vw;
  }
  .section1-whoami > h3 {
    margin: 0;
    color: #6959a6;
    font-size: 2.5vw;
  }
  .section1-whoami > p:nth-of-type(3) {
    border: 1px solid #6959a6;
    border-radius: 1vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1-whoami > p:nth-of-type(2) {
    margin: 0;
    margin-bottom: 1vw;
    margin-top: 0.3vw;
  }
  .section1-whoami > p > a {
    font-size: 1vw;
    color: #6959a6;
    text-decoration: none;
    padding: 1vw;
    text-align: center;
  }
  /* SECTION 2 */
  .section2 {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
  }
  .section2-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    width: 80vw;
  }
  .section2-logo {
    margin: 0;
    display: flex;
    gap: 2vw;
  }
  .section2-logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border: 1px solid #14171a31;
    border-radius: 5px;
  }
  .section2-logo-img > img {
    width: 5.5vw;
    margin-bottom: 1.5vw;
  }
  .section2-logo-img > h3 {
    margin: 0;
    color: #6959a6;
    font-size: 1.5vw;
  }
  .section2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section2-title > p,
  h3 {
    margin: 0;
  }
  .section2-title > p {
    color: #727272;
    font-size: 1vw;
  }
  .section2-title > h3 {
    color: #6959a6;
    font-size: 2.5vw;
    margin-bottom: 3vw;
  }
  /* SECTION 3 */
  .section3 {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
  }
  .section3-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    width: 80vw;
  }
  .section3-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section3-title > p,
  h3 {
    margin: 0;
  }
  .section3-title > p {
    color: #727272;
    font-size: 1vw;
  }
  .section3-title > h3 {
    color: #6959a6;
    font-size: 2.5vw;
    margin-bottom: 3vw;
  }
  .section3-logo {
    margin: 0;
    display: flex;
    gap: 2vw;
  }
  .section3-logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section3-logo-img > img {
    width: 25vw;
    /* border-radius: 5px; */
  }
  /* SECTION 4 */
  .section4 {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
  }
  .section4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    align-items: center;
    width: 80vw;
  }
  .section4-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section4-title > p,
  h3 {
    margin: 0;
  }
  .section4-title > p {
    color: #727272;
    font-size: 1vw;
  }
  .section4-title > h3 {
    color: #6959a6;
    font-size: 2.5vw;
    margin-bottom: 3vw;
  }
  .section4-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section4-logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #14171a31;
    border-radius: 0px;
    height: 35vw;
  }
  .section4-logo-img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section4-logo-img-content > img {
    width: 5.5vw;
    /* margin-top: -5vw; */
    flex: 1;
  }
  .section4-logo-img-content > h3 {
    margin: 0;
    color: #6959a6;
    font-size: 2.5vw;
    flex: 1;
  }
  .section4-logo-img-content > p:nth-of-type(1) {
    color: #727272;
    font-size: 1vw;
    flex: 1;
  }
  .section4-logo-img-content > p:nth-of-type(2) {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2vw;
    color: #1a252ec2;
    font-weight: 600;
    flex: 1;
  }
  .section4-logo-img-content > p:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 8vw;
    background-color: #6959a6;
    border-radius: 100px;
    flex: 1;
  }
  .section4-logo-img-content > p:nth-of-type(3) > a {
  }
  /* SECTION 5 */
  .section5 {
    margin: 0;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6959a6;
  }
  .section5-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vw;
  }
  /* SECTION 6 */
  .section6 {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
  }
  .section6-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    width: 80vw;
  }
  .section6-logo {
    margin: 0;
    display: flex;
    gap: 2vw;
  }
  .section6-logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section6-logo-img-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section6-logo-img-img > img {
    width: 5vw;
  }
  /* SECTION 7 */
  .section7 {
    margin: 0;
    display: flex;
  }
  .section7-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section7-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section7-content-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section7-post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
  .section7-post-content > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* SECTION 8 */
  .section8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
  }
  .section8-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* FOOTER */
  footer {
    align-self: center;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60vw;
    margin-top: 1vw;
  }
  .footer-copyright {
    margin: 0;
  }
  .footer-copyright > p {
    color: rgba(0, 0, 0, 0.63);
  }
  .footer-links {
    display: flex;
    gap: 1vw;
  }
  .footer-links > div {
    border: 2px solid rgba(0, 0, 0, 0.63);
    border-radius: 50%;
  }
  .footer-links > div > a > i {
    padding: 0.8vw;
    font-size: 1.2vw;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
  }
  /* FOOTER HOVER */
  .footer-links > div:nth-of-type(1):hover {
    background: #1a252e;
  }
  .fa-facebook-f:hover {
    color: #0082fb;
  }
  .footer-links > div:nth-of-type(2):hover {
    background: #14171a;
  }
  .fa-x-twitter:hover {
    color: #f5f8fa;
  }
  .footer-links > div:nth-of-type(3):hover {
    background: #1a252e;
  }
  .fa-pinterest:hover {
    color: #e60023;
  }
  .footer-links > div:nth-of-type(4):hover {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  }
  .fa-instagram:hover {
    color: #1a252e;
  }
  .footer-links > div:nth-of-type(5):hover {
    background: #14171a;
  }
  .fa-chromecast:hover {
    color: #ea4335;
  }
}
