/* 
|--------------------------------------------|
|                   BODY                     |
|--------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
}
img {
  width: 3vw;
}
@media (width > 900px) {
  /* NAVBAR */
  nav {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
  }

  .navbar-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .navbar-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
